# Frontend Environment
FRONT_NODE_ENV=development
FRONT_PORT=4200

# Backend Environment
BACK_NODE_ENV=development
BACK_PORT=3000

# Database Environment
DB_USER=
DB_PASSWORD=
DB_NAME=mempa_db
DB_PORT=5432
DB_HOST=mempa-db

# Connection String
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
